

.navbar {
  height: 64px;
  padding: 0 8%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--border);
  font-family: var(--font-body);

  position: sticky;
  top: 0;
  background: rgba(15, 14, 36, 0.8);
  backdrop-filter: blur(14px);
  z-index: 100;
}

.logo {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--heading);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  position: relative;
  color: var(--text-light);
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: var(--accent);
  transition: .3s;
}

.nav-links a:hover {
  color: var(--heading);
}

.nav-links a:hover::after {
  width: 100%;
}